<ul class="nav nav-tabs">
  {{#each this.tabs as |tab|}}
    <li class={{if (eq tab this.selectedTab) "active"}}>
      <a href="#" {{on "click" (fn this.selectTab tab)}}>{{tab.title}}</a>
    </li>
  {{/each}}
</ul>

{{component this.selectedTab.content}}
